.over {
  overflow: scroll;
}

.main-Container {
  display: flex;
  flex-direction: column
}

.plant-area {
  display: flex;
  /* flex-direction: column */
  width:100%;
}
table 
{
    table-layout:fixed;
    /* width:100%; */
    word-break: break-word;
    border: 0px;
}
.plant-tables {
  display: flex;width:100%;
   flex-direction: column;
   min-width: 0;
   border: solid 1px #dee2e6;
}
.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (max-width: 600px) {
  h1.display-4 {
    font-size: 2.5rem;
  }
}

body {
  background-color: #f8f9fb;
}

p {
  font-size: 0.8rem;
}

@media only screen and (min-width: 400px) {
  p {
    font-size: 1rem;
  }
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0;
}
.loader-button {
  width: 106.1px;
}

.empty-form-group {
  display: none;
}

.editImage {
  background-color: white;
  padding: 10px;
  max-width: 400px;
  border: solid 1px;
  border-color: gray;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-top: 9px;
}
.imageInputBtn {
  margin: 2px 0px 1px 3px;
  font-size: 0.8rem;
}
.editImageWarning {
  font-size: 0.8rem;
  margin-left: 4px;
}

.profile-pic-div {
  max-width: 120px;
  max-height: 120px;
  overflow: hidden;
}
.pic-img {
  max-width: 120px;
  max-height: 120px;
  object-fit: scale-down;
  border: solid;

  border-color: black;
  border-radius: 5px;
}
.imageInput {
  margin: 2px 0px 10px 3px;
  max-width: 244px;
  font-size: 0.8rem;
  display: block;
}

@media screen and (min-width: 397px) {
  .imageInput {
    margin: 2px 0px 10px 3px;
    max-width: 350px;
  }
}

@media screen and (min-width: 500px) {
  .editImage,
  .editImageWarning,
  .imageInput,
  .imageInputBtn {
    font-size: 1rem;
  }
}
.Nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem 0;
  flex-wrap: wrap;
}

 
.main-Container{
  padding: 0rem 2rem;
}

.auth-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px){
  .Nav :nth-child(2) {
    order: 3;  
    
 }
}

@media screen and (min-width: 800px){
  .Nav {
    flex-direction: row;

    margin: 2rem 0 1rem 0;
  }
}

.list-group{
  flex-direction: row;
}
.list-group-item {
  margin-bottom: 0px;
}
.tab-row {
  align-content: flex-start;
  min-width: 0;
}

.table-p{
  /* text-align: center; */
  margin: 0px;
  padding-left: 10px;
}

/* .list-group-item {
  border-bottom: 0px;
}
.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

a#list-home-link {
  border: 1px solid #dee2e6;
} */

a#list-home-link, a#list-profile-link {
  border: 1px solid #dee2e6;
  width: 250px;
  border-radius: 0px;
  border-bottom: 0px;
}

a#list-home-link {
  border-right: 0px
}

a#list-profile-link {
  border-left: 0px;
}
.list-group-item-action.active {
  border-top: 1px solid #007bff !important;
  border-left: 1px solid #007bff !important;
  border-right: 1px solid #007bff !important;
}
@media screen and (max-width: 400px){
  body {
    font-size: 1rem;
    line-height: 1rem;
    
}
.btn {
  font-size: 1rem;
  /* -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); */
}
h1 {
  font-size: 1.5rem;
}

.list-group-item {
  padding: .45rem 1rem;
  text-align: center;
  font-size: 1rem;
}
.search-bar{
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}
}