@media only screen and (min-width: 350px) {
  .width-check {
    width: 320px !important;
  }
}

.rowOptionStyle {
  width: 90px;
}

.t-footer {
  color: black;
  background-color: #f8f9fb;
  border: 1px solid #dee2e6;
  font-size: 0.8rem;
}
@media only screen and (min-width: 400px) {
  .t-footer {
    color: black;
    background-color: #f8f9fb;
    border: 1px solid #dee2e6;
    font-size: 1rem;
  }
}

.pageStyle {
  color: black;
  background-color: white;
  border: 1px solid #dee2e6;
}

.activePage {
  background-color: #cedeff;
}

@media only screen and (min-width: 550px) {
  .width-check {
    width: 468px !important;
  }
}

@media only screen and (min-width: 740px) {
  .width-check {
    width: 614px !important;
  }
}

@media only screen and (min-width: 860px) {
  .width-check {
    width: 758px !important;
  }
}

@media only screen and (min-width: 1170px) {
  .width-check {
    width: 1065px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .width-check {
    width: 1217px !important;
  }
}

@media only screen and (min-width: 1550px) {
  .width-check {
    width: 1423px !important;
  }
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
