@media only screen and (min-width: 350px) {
  .width-check {
    width: 320px !important;
  }
}

.rowOptionStyle {
  width: 90px;
}

.t-footer {
  color: black;
  background-color: #f8f9fb;
  border: 1px solid #dee2e6;
  font-size: 0.8rem;
}
@media only screen and (min-width: 400px) {
  .t-footer {
    color: black;
    background-color: #f8f9fb;
    border: 1px solid #dee2e6;
    font-size: 1rem;
  }
}

.pageStyle {
  color: black;
  background-color: white;
  border: 1px solid #dee2e6 !important;
  font-size: 1rem !important;
  padding: 0.375rem 0.75rem !important;
}

.activePage {
  background-color: #cedeff;
  font-size: 1rem !important;
  padding: 0.375rem 0.75rem !important;
  border: 1px solid #dee2e6 !important;
}

.shrink {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  margin-left: -30px !important;
}
.shrinkTableButtons {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  margin-left: -6px !important;
}
.shrinkButton {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  margin-left: -44px !important;
}

@media only screen and (min-width: 550px) {
  .width-check {
    width: 468px !important;
  }

  .shrink,
  .shrinkTableButtons,
  .shrinkButton {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-left: 0px !important;
  }

  .activePage,
  .pageStyle {
    font-size: 1rem !important;
    padding: 0.375rem 0.75rem !important;
  }
}

@media only screen and (min-width: 740px) {
  .width-check {
    width: 614px !important;
  }
}

@media only screen and (min-width: 860px) {
  .width-check {
    width: 758px !important;
  }
}

@media only screen and (min-width: 1170px) {
  .width-check {
    width: 1065px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .width-check {
    width: 1217px !important;
  }
}

@media only screen and (min-width: 1550px) {
  .width-check {
    width: 1423px !important;
  }
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
