@media only screen and (min-width: 350px) {
  .width-check {
    width: 320px;
  }
}

@media only screen and (min-width: 520px) {
  .width-check {
    width: 468px;
  }
}

@media only screen and (min-width: 740px) {
  .width-check {
    width: 614px;
  }
}

@media only screen and (min-width: 860px) {
  .width-check {
    width: 758px;
  }
}

@media only screen and (min-width: 1170px) {
  .width-check {
    width: 964px;
  }
}

@media only screen and (min-width: 1400px) {
  .width-check {
    width: 1217px;
  }
}

@media only screen and (min-width: 1550px) {
  .width-check {
    width: 1423px;
  }
}
