.Filter-Item {
  display: inline;
  margin: 1rem 0 ;
}
.Filter-Items {
  display: flex;
  flex-direction: column;
}
.Filters {
  display: flex;
  justify-content: space-around;
   flex-direction: column; 
}
.Filter-Option {
  display: flex;
  align-items: center;
}
.Filters-Section {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
 
}

.Filter-Option input {
  margin-right: 5px;
}

.Filter-Option label {
  margin-bottom: 0;
}
