.Filter-Item {
  display: inline;
  margin: 1rem 0 ;
}
.Filter-Items {
  display: flex;
  flex-direction: column;
}
.Filters {
  display: flex;
  justify-content: space-around;
   flex-direction: column; 
}
.Filter-Option {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px){
  .Filters-Section {
    display: none;
  }
}


.Filter-Option input {
  margin-right: 5px;
}

.Filter-Option label {
  margin-bottom: 0;
}

button.btn.btn-primary.default-button.filters-button {
  margin-left: .5rem;
}

@media screen and (min-width: 800px){
  button.btn.btn-primary.default-button.filters-button {
    display: none;
  }
}
